body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.photographer {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar-text {
  margin-right: 20px;
}

.im-specialized {
  text-align: center;
  color: #778899;
  margin-top: 4%;
}
.p-under-specialized {
  text-align: center;
  color: #778899;
  margin-top: 3%;
}

.icons {
  width: 60px;
}
.cards-p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(145, 141, 141);
}
.grey-cards {
  width: 100%;
  height: 50vh;
  margin-top: 6%;
  margin-bottom: 6%;
}
.first-div {
  height: 100%;
  background-color: #778899;
}
.person-icon {
  width: 60px;
}
.grey-cards-col {
    height:19.4rem;
}
.working-progress {
    text-align: center;
  color: #778899;
  margin-top: 4%;
}
.p-under-working-progress {
    text-align: center;
    color: #778899;
    margin-top: 3%;
}
.round-border {
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: grey;
}
.circle-grey-cards {
    width:180px;
    height: 160px;
    border-radius:50% ;
    background-color: rgb(87, 81, 81);
}
.circle-icons {
    width: 80px;
    height: 80px;
}
.arrow-right-icon {
  object-fit: contain;
}