body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* font-family: "Varela Round"; */
}
html {
  padding: 0;
  margin: 0;
}
.nav-delete-paddign {
  padding: 0;
}


* {
  padding: 0;
  margin: 0;
}

.bootcamp {
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(214, 209, 209);
  text-decoration: none;
}
.photographer {
  object-fit: cover top;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#navbar-text {
  margin-right: 20px;
}
.carousel-inner {
  position: relative;
}
.hello-h3 {
  font-size:100px;
  font-weight:bolder;
  position: absolute;
  top: 50px;
  left: 40px;
}
.im-specialized {
  text-align: center;
  color: #778899;
  margin-top: 4%;
}
.p-under-specialized {
  text-align: center;
  color: #778899;
  margin-top: 3%;
}

.icons {
  width: 60px;
}
.cards-p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(145, 141, 141);
}
.grey-cards {
  width: 100%;
  height: 50vh;
  margin-top: 6%;
  margin-bottom: 6%;
}
.first-div {
  height: 100%;
  background-color: #778899;
}
.person-icon {
  width: 60px;
}
.grey-cards-col {
    height:19.4rem;
}
.working-progress {
    text-align: center;
  color: #778899;
  margin-top: 4%;
}
.p-under-working-progress {
    text-align: center;
    color: #778899;
    margin-top: 3%;
}
.round-border {
    width:160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgb(66, 65, 65);
}
.circle-grey-cards {
    width:180px;
    height: 160px;
    border-radius:50% ;
    background-color: rgb(49, 47, 47);
}
.circle-icons {
    width: 80px;
    height: 80px;
}
.arrow-right-icon {
  object-fit: contain;
  width: 50px;
}
.yellow-text {
  color:rgb(71, 221, 57);
}

.andre-del-padding {
  width: 100vw;
  padding-left: 0;
  margin-right: 0;
  background-color: lightgrey;
  
}
.andre {
  object-fit: contain;
  width: 500px; 
  height: 300px;
  padding:0;
}
.row-border {
  border: 2px black solid;
}
.img-border {
  border:2px solid rgb(111, 235, 29)
}
.text-border {
  border: 2px solid rgb(172, 29, 29);
}
.about-me {
  font-size: xx-large;
  font-weight: bolder;
}
.grey-p {
  color: rgb(121, 116, 116);
}
.photographer-box {
  background-color: rgb(165, 173, 182);
}
.tick {
  width: 15px;
  height: 20px;
}
.circle-social-media-cards {
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(111, 111, 112);
 
}
.social-icons {
  width:20px;
  height: 25px;
  text-align: center;
  /* padding:5px; */
}
.footer {
width:100vw;
background-color: rgb(96, 99, 116);
}
.personal-website {
  color:rgb(49, 49, 53);
  
}
.circle-media {
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(48, 45, 45);
  border:2px solid white;
  margin: 1px;
}
.social-icons2 {
  width:20px;
  height: 20px;
}
